<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alquran_basic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlQuranBasic">
        <activity
            android:name=".AyahListActivityRV"
            android:exported="false" />
        <activity
            android:name=".SurahListActivityRV"
            android:exported="false" />
        <activity
            android:name=".ParaListActivityRV"
            android:exported="false" />
        <activity
            android:name=".MainActivityRV"
            android:exported="false"
            android:theme="@style/Theme.AlQuranBasic.NoActionBar"/>
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchSurahActivity"
            android:exported="false" />
        <activity
            android:name=".TranslationActivity"
            android:exported="false" />
        <activity
            android:name=".AyahListActivity"
            android:exported="false" />
        <activity
            android:name=".SurahListActivity"
            android:exported="false" />
        <activity
            android:name=".ParaListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AlQuranBasic.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>